body {
    color: darkblue;
    background-color: ivory;
    margin: 10px 50px 10px 50px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

img {
    float: left;
    margin-right: 20px;
}

.browsers {
    display: flex;
    justify-content: space-between;
}

.browser {
    width: 300px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}