h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    color: darkblue;
}

p, a {
    font-family: 'Open Sans';
    color: darkblue;
}

body {
    background-color: ivory;
    margin: 10px 50px;
}

.logo {
    float: left;
    margin-right: 10px;
}