body {
    color: darkblue;
    background-color: ivory;
    margin: 10px 50px 10px 50px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

img {
    float: left;
    margin-right: 20px;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 35px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column {
    padding: 15px;
}